body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.project-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card1 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.project-card2 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.project-card3 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}

.project-card4 {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 50px;
  flex-wrap: wrap;
}